* {
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    font-family: "Hind Siliguri",sans-serif;    
}
.contenedor{
    background-color: black;
    background-size:cover;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.destacados{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px ;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.card-title{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.icon{
    background-color: rgb(8, 189, 189);
}
.card{
    background-color: rgb(8, 189, 189);

}
h3{
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}
.formulario{
    background-color: black;
    background-size: cover;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.redes_sociales{
    background-color: rgb(8, 189, 189);
    background-size: cover;
    color: white;
    padding-top: 20px;
}
.icon_redes{
    text-align:right;
}
#quienes{
    text-align: center;
}
.destacados{    
    padding-top: 10px;
    padding-bottom: 20px;
}

